.nav-title{
color: rgba(78, 71, 255, 1);
font-size: 34;
font-weight: 800;

}




.open-sans-normal{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
nav{
    justify-content: space-between;
    align-items: center;
    display: flex;
    margin: 50px 200px;
}

.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight:bold;
  font-style: normal;
}


.banner-title{
    color: #252432;
    font-weight: bold;
    font-size: 40px;
    /* padding: 300px 270px; */
    width: 500px;
    height: 152px;
    opacity: 100%;
    margin-bottom: 20px;
    
   


    

}
 .btn-banner , .btn-primary, .btn-action {
   
   

   border-radius: 5px;
    padding: 10px 20px; 
   border: none;
   color: aliceblue;
   background-color:#4E47FF ;
   

        

} 
.banner-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
height: 300px;

}
header{
  background-image: url(../Assets/Hero-bg.png);
}
/* action styles */
.action-title{
    color: #252432;
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 2em;
}
p{
    width:330px ;
    
      margin-bottom: 8px;
      color: rgba(37, 36, 50, 0.5);
      padding-bottom: 62px 0px ;
}
.btn-action{
    margin: 0;

    
}
.left-part{
  width: 520px;
  height: 217px;

}
/* .right-part{
    border-radius: 10px;
} */

  .action-part{
    display: flex;
    justify-content: center;
    

  align-items: center;
    padding: 116px 140px;
    background-image: url();
  
  height: 300px;

background-color: rgba(78, 71, 255, 0.1);
margin:116px 145px ;

  }
  .img-section img{
    border-radius: 50px;
    height: 320px;
    width: 405px;
  }
  .productive-section{
      width: ;
  height: 300px;
background-color: rgba(78, 71, 255, 0.1);
margin:116px 145px ;
  }
  div .box p{
    color: rgba(37, 36, 50, 0.5);
  
  }
  .box h1{
  font-size: 5em;
  color: rgba(78, 71, 255, 1);
  }
  .productive-section{
 
    text-align: center;
    padding: 40px 20px;
  }
  .main-box{
    display: flex;
    justify-content: center;flex-wrap: wrap;
    margin-top: 20px;
  }
  .box{
 line-height: 0;
  }
h3{
    font-size: 2em;
}